.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
  text-align: center;
}

h1,
h2 {
  margin: 10px;
}

.answer {
  border: 1px solid #fff;
  padding: 5px 10px 5px 45px;
  width: 610px;
  text-align: left;
  margin-top: 10px;
  position: relative;
  font-size: 22px;
  cursor: pointer;
  transition: ease-in-out, width 0.35s ease-in-out;
  border-radius: .5em;
}

.answer.selected.correct,
.answer.not-selected.correct {
  border: 1px solid #fff;
  color: rgb(0, 0, 0);
  background-color: #86e86f;
}

.answer.selected.incorrect {
  border: 1px solid #fff;
  color: rgb(0, 0, 0);
  background-color: #f74b4b;
}

.answer[disabled]{
  background-color: transparent;
  border: transparent;
  color: transparent;
  cursor: default;
}

.answer:not(disabled):hover,
.answer:not(disabled):active,
.answer:not(disabled):focus {
  color: #4f4c4c;
  background-color: #86e86f;
}

.answer[disabled]:not(.selected):not(.not-selected):hover {
  color: transparent;
  background-color: transparent;
}

/* .answer:focus {
  outline: none;
} */

.results span.correct {
  color: #86e86f;
  font-weight: bold;
}

.results span.failed {
  color: #f74b4b;
  font-weight: bold;
}