:root{
  --correct-color: #53bd8e;
  --incorrect-color: #ad505e;
  --select-color: #4062F6;
}

.container {
  background-color: #272936;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
  text-align: center;
}

h1,
h2 {
  margin: 10px;
}

.answer {
  color: #fff;
  border: 4px solid transparent;
  padding: 5px 10px 5px 45px;
  width: 610px;
  text-align: left;
  margin-top: 10px;
  position: relative;
  font-size: 22px;
  cursor: pointer;
  transition: ease-in-out, width 0.35s ease-in-out;
  border-radius: .5em;
  background-color: transparent;
}

.answer.selected.correct,
.answer.not-selected.correct {
  color: #fff;
  border: 4px solid var(--correct-color);
}

.answer.selected.incorrect {
  color: #fff;
  border: 4px solid var(--incorrect-color);
}

.answer[disabled]{
  background-color: transparent;
  border: 4px solid transparent;
  color: transparent;
  cursor: default;
}

.answer:not(disabled):hover,
.answer:not(disabled):active,
.answer:not(disabled):focus {
  border: 4px solid var(--select-color);
}

.answer[disabled]:not(.selected):not(.not-selected):hover {
  color: transparent;
  background-color: transparent;
  border: 4px solid transparent;
}

/* .answer:focus {
  outline: none;
} */

.results span.correct {
  color: var(--correct-color);
  font-weight: bold;
}

.results span.failed {
  color: var(--incorrect-color);
  font-weight: bold;
}

.seconds {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 80px;
  padding: 20px;
}